.formBx {
  display: flex;
  width: 400px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.formBx form {
  width: 100%;
  position: relative;
}

.formBx .heder h2 {
  font-size: 2em;
  text-transform: uppercase;
  letter-spacing: 5px;
  margin-bottom: 30px;
  color: rgb(255, 255, 255);
}

.formBx form .inputBox {
  position: relative;
  margin-bottom: 40px;
  width: 100%;
}

.formBx form .inputBox:last-child {
  margin-bottom: 0px;

}
.formBx form .inputBox input {
  position: relative;
  background: transparent;
  outline: none;
  border: none;
  width: 100%;
  color: rgb(255, 255, 255);
  padding-bottom: 10px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 300;
  border-bottom: 2px solid rgba(82, 82, 82, 0.842);
}

.formBx form .inputBox input[type='submit'] {
  background: rgb(255, 255, 255);
  padding: 8px 20px;
  margin-top: -10px;
  width: 150px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  font-size: 18px;
  font-weight: 400;
  border: none;
  text-transform: uppercase;
  letter-spacing: 4px;
  border-radius: 5px;
  transition: 0.5s;
}
.formBx form .inputBox input[type='submit']:hover{
 background: rgb(194, 194, 194);
}

.formBx form .inputBox input[type='submit']:disabled {
  background: rgb(66, 66, 66);
}

.formBx form .inputBox input[type='submit']:active {
  background: rgb(131, 131, 131);
}
.valid {
  display: flex;
  height: 50px;
}

.formBx form .inputBox span {
  position: absolute;
  left: 0;
  font-size: 16px;
  font-weight: 300;
  display: inline-block;
  pointer-events: none;
  letter-spacing: 1px;
  color: rgba(184, 184, 184, 0.712);
  transition: all 0.2s;
}

.formBx form .inputBox input:focus ~ span,
.formBx form .inputBox input:valid ~ span {
  transform: translateY(-24px);
  color: rgb(255, 81, 0);;
  font-size: 18px;
}

.formBx form .inputBox input:focus,
.formBx form .inputBox input:valid {
  border-bottom-color: #fff;
}

.valid {
  display: flex;
  align-items: center;
  justify-content: center;
}

.valid p {
  color: rgb(255, 0, 0);
  padding: 10px;
}