.choice {
    display: flex;
    flex-direction: column;
}

.question {
    display: flex;
    font-size: 25px;
    letter-spacing: 2px;
    font-weight: 600;
    justify-content: center;
    align-items: center;
    margin: 5px;
    padding: 5px;
    color: rgb(255, 102, 0);

}

.answer {
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: inherit;
    margin: 10px;
    width: 200px;
    background: rgb(228, 228, 228);
    padding: 10px 20px 10px 20px;
    font-size: 20px;
    letter-spacing: 1px;
    color: black;
    transition: 0.5s;
    border-radius: 5px;
}

a:hover {
    background: rgb(156, 156, 156);

}

.timer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    letter-spacing: 2px;
    font-weight: 600;
    color: rgb(255, 102, 0);
}

.timer span {
    color: rgb(255, 0, 0);
}

