.main {
  display: flex;
  flex-direction: column;
  color: #fff;
  height: 100%;
  width: 500px;
}

.hat {
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
}

.hat .login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.user {
  font-size: 20px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 8px 15px 12px 5px;
}
.indicator {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: rgb(102, 255, 0);
}

.commands {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 24px;
  font-weight: 600;
}

.tabl-commands {
  margin-top: 20px;
}

.log-out {
  width: 30px;
  height: 30px;
  filter: opacity(0.8);
  margin-bottom: 2px;
}

.log-out img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.log-out:hover {
  filter: opacity(1);
}

.title {
    margin-bottom: 20px;
}

table {
  border-collapse: collapse;
  width: 100%;
  font-size: 14px;
  letter-spacing: 2px;
}

td,
th {
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #222222;
}


.tabl {
    display: none;
  height: 200px;
  overflow: auto;
}


.no_commands {
    display: none;
  margin-top: 50px;
  color: rgb(255, 102, 0);
}

.visible {
    display: block;
}


